body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}
h1{
    color: rgb(255, 255, 255);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background: #312d2d;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#3d4daa, #6574ca);
    clip-path: circle(17% at 20% 15%);
}
body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( #ffffff, #6078bb) ;
    clip-path: circle(20% at 90% 60%);
}

form{
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 0%;
}
fieldset{
    border-radius: 4px;
}
input, button{
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    width: 420px;
    margin: 20px;
}
button{
    background-color: #6078bb;
    border-radius: 10px;
    border-color: #6078bb;
    align-items: center;
    width: 450px;
}
#cad-form{
    list-style: none;
    max-width: 550px;
    width: 100%;
    height: 800px;
}

input{
    margin: 10px;
    border-radius: 4px;
}

button:hover{
    background-color: rgb(0, 132, 255);
    transition: 0.4s;
}
label{
    color: white;
}
legend{
    color: white;
}
.tel{
    padding: 10px;
}
.field{
    padding: 39px;
    width: 300;
}